{% extends 'employees\employee_base.html' %}

{% block title %}{% block header %} Confirm Pickup For... {% endblock %}{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
  
    <div class="confirm">
      <h3>{{ single_customer.name }}
      <br />
      {{ single_customer.address }}
      <br />
      Balance: ${{ single_customer.balance }}
      </h3>
  
    </div>
    <br />
    <br />
    <form action="{% url 'employees:confirm_pickup' customer_id %}" method="post">
        {% csrf_token %}
        Confirm Pickup Date: <input type="date" name="date" id="date" value="{{single_customer.date_of_last_pickup}}">
        <br />
        <input type="submit" value="Submit">
    </form>
  {% else %}
    <p>You are at the employee confirm_pickup, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}