{% extends 'employees\employee_base.html' %}

{% block title %}{% block header %} Employee Home {% endblock %}{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    Hello {{ user.username }}!
    <br />
    <h2>Todays Pickups</h2>
    <div class="pickups">
      <ul>
        {% for item in final_pickups %}
        <h3>{{item.name}}
        <br />
        {{item.address}} <a href="{% url 'employees:confirm_pickup' item.id %}">Confirm Pickup</a>
        <br />
        {{item.weekly_pickup}}
        <br />
        One Time Pickup Date: {{item.one_time_pickup}}
        </h3>
        {%endfor%}
      </ul>
    </div>
    <br />
  {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}